*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/vcs.xml
.idea/codeStyles/Project.xml
.idea/gradle.xml
.idea/misc.xml
.idea/runConfigurations.xml
gradle/wrapper/gradle-wrapper.jar
app/release/app-release.apk
app/release/output.json
app/release/alltrot-app-release.apk.zip
app/release/alltrot-app-release.apk
*.apk
app/release/Alltrot-v1.2-release.apk.zip
*.aab
.idea/caches/gradle_models.ser
app/app.iml
yt_Hongjinyoung.iml
app/app.iml
app/src/main/java/com/chsapps/yt_hongjinyoung/.DS_Store
app/app.iml
