<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chsapps.yt_hongjinyoung">

    <!--Permission-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>


    <application
        android:name="com.chsapps.yt_hongjinyoung.app.yt7080"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="763e87c34a8c31de60c4615861c6cefa52a49cd4" />

        <!--<meta-data-->
            <!--android:name="com.facebook.sdk.ApplicationId"-->
            <!--android:value="@string/facebook_app_id" />-->
        <!--<meta-data-->
            <!--android:name="com.facebook.sdk.AutoLogAppEventsEnabled"-->
            <!--android:value="true" />-->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <!--ACTIVITY-->
        <activity android:name="com.chsapps.yt_hongjinyoung.ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.chsapps.yt_hongjinyoung.ui.activity.RemovedAppActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.chsapps.yt_hongjinyoung.ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chsapps.yt_hongjinyoung.ui.activity.PlaySongActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chsapps.yt_hongjinyoung.ui.activity.CategoryPlaySongActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chsapps.yt_hongjinyoung.ui.activity.SearchSongActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chsapps.yt_hongjinyoung.ui.activity.BatterySaveActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.chsapps.yt_hongjinyoung.ui.activity.AppStoreActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.chsapps.yt_hongjinyoung.ui.activity.FullScreenPlayerActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="landscape" />

        <activity
            android:name="com.chsapps.yt_hongjinyoung.event.ui.activity.AppEventDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>

        <!--SERVICE-->
        <!--<service-->
            <!--android:name="com.chsapps.yt_hongjinyoung.service.YoutubePlayerService"-->
            <!--android:exported="true" />-->
        <service
            android:name="com.chsapps.yt_hongjinyoung.service.YoutubePlayerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.chsapps.yt_hongjinyoung.action.prev"/>
                <action android:name="com.chsapps.yt_hongjinyoung.action.play"/>
                <action android:name="com.chsapps.yt_hongjinyoung.action.next"/>
                <action android:name="com.chsapps.yt_hongjinyoung.action.playingweb"/>
                <action android:name="com.chsapps.yt_hongjinyoung.action.stopplayingweb"/>
                <action android:name="com.chsapps.yt_hongjinyoung.action.player_type"/>
                <action android:name="com.chsapps.yt_hongjinyoung.action.close_player"/>
            </intent-filter>
        </service>

        <service android:name="com.chsapps.yt_hongjinyoung.service.PlayAPIService"
            android:exported="true"/>

        <service android:name="com.chsapps.yt_hongjinyoung.service.TokenAPIService"
            android:exported="true"/>

        <service android:name="com.chsapps.yt_hongjinyoung.event.service.ClickEventService"
            android:exported="true"/>

        <!--RECEIVER-->

        <!--Firebase messaging-->
        <service
            android:name="com.chsapps.yt_hongjinyoung.service.MyFirebaseMessagingService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!--Firebase messaging-->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <receiver
            android:name="com.adjust.sdk.AdjustReferrerReceiver"
            android:permission="android.permission.INSTALL_PACKAGES"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

    </application>

</manifest>